.table-row-cell:empty:odd, .table-row-cell:empty:even {
    -fx-background-color: transparent;
}
.table-view {
    -fx-control-inner-background: #F8F3F2;
    -fx-border-color: #F8F3F2;;
}

.table-cell{
    -fx-border-color: #F8F3F2;  /* similar to the default color */
    -fx-border-width: 0;   /* similar to the default width */
}

.table-view .column-header,
.table-view .column-header .filler,
.table-view .column-header-background .filler {
    -fx-border-width: 0;
}